.quiz {
  width: 100%;
}
.quiz__card {
  display: flex;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  flex-direction: column;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.quiz__card-tag {
  display: flex;
  gap: 5px;
}

.quiz__card-answer--hidden {
  padding: 10px;
  background-color: rgba(83, 129, 15, 0.1);
  border-radius: 5px;
  width: max-content;
  margin-top: 30px;
  font-size: 20px;
  align-self: center;
  font-style: oblique;
  transition: height 0.2s ease;
}

.quiz__card-tag-text {
  border: 1px solid black;
  padding: 2px;
  background-color: antiquewhite;
  border-radius: 5px;
  position: static;
  margin-top: 40px;
}

.quiz__card-show-answer {
  width: 120px;
  align-self: center;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

.quiz__card-active-answer {
  /* display: flex;
    position: relative;
    height: 400px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    flex-direction: column; */
}

.quiz__card-bookmark {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
